<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%level] %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="..\webapps_logs\car_rental_app.log"
                     filePattern="..\webapps_logs\car_rental_app-%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d [%p] %c{1} – %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>